@page
@using Pronetsys.Server.Pages
@model ViewerModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no" />
    <title>@(Model.PageTitle)</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="description" content="@(Model.PageDescription)" />
    <link href="/manifest.json" rel="manifest" />
    <link rel="icon" href="@(Model.FaviconUrl)" />
    <link href="/css/remote-control.css" rel="stylesheet" asp-append-version="true" />

    @if (!string.IsNullOrWhiteSpace(Model.ThemeUrl))
    {
        <link href="@(Model.ThemeUrl)" rel="stylesheet" asp-append-version="true" />
    }

    <link href="/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/lib/fontawesome/css/brands.min.css" rel="stylesheet" />

    <environment include="Development">
        <script src="/lib/microsoft-signalr/signalr.js"></script>
        <script src="/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.js"></script>
        <script src="/lib/msgpack/dist.es5+umd/msgpack.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="/lib/microsoft-signalr/signalr.min.js"></script>
        <script src="/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js"></script>
        <script src="/lib/msgpack/dist.es5+umd/msgpack.min.js"></script>
    </environment>
</head>
<body>
    <div id="backgroundLayers" class="background-layers">
        <div class="background-layer-1"></div>
        <div class="background-layer-2"></div>
        <div class="background-layer-3"></div>
    </div>

    <div id="screenSelectMenu" class="popup-menu">
    </div>

    <div id="clipboardTransferMenu" class="popup-menu">
        <button id="typeClipboardButton">Escribir portapapeles</button>
    </div>

    <div id="fileTransferMenu" class="popup-menu">
        <button id="fileUploadButton">Subir archivo</button>
        <button id="fileDownloadButton">Descargar archivo</button>
    </div>

    <div id="windowsSessionMenu" class="popup-menu">
        <div class="text-center" style="margin-bottom: 5px;">
            Cambiar sesión de Windows
        </div>
        <select id="windowsSessionSelect"
                title="Cambiar a una sesión de Windows diferente.">
        </select>
    </div>

    <div id="extrasMenu" class="popup-menu">

        <button id="audioButton"
                title="Solo Windows. Transmitir el audio remoto al navegador.">
            <i class="fas fa-volume-up"></i>
            Audio
        </button>

        <button id="fileTransferButton"
                title="Transferir archivos al equipo remoto.">
            <i class="fas fa-file-upload"></i>
            Transferencia de archivos
        </button>

        <button id="inviteButton"
                title="Copiar un enlace que permite a otra persona ver la pantalla remota.">
            <i class="fas fa-user-plus"></i>
            Invitar a otros
        </button>

        <button id="metricsButton"
            title="Mostrar u ocultar las métricas de la sesión.">
            <i class="fas fa-gauge"></i>
            Métricas
        </button>
    </div>

    <div id="metricsFrame" class="d-none">
        <div>
            Mbps:
        </div>
        <div id="mbpsDiv">
        </div>
        <div>
            FPS:
        </div>
        <div id="fpsDiv">
        </div>
        <div>
            Latencia:
        </div>
        <div id="latencyDiv">
        </div>
        <div>
            GPU:
        </div>
        <div id="gpuAcceleratedDiv">
        </div>
    </div>

    <div class="connection-box-wrapper">
        <div class="text-center">
            <h2 id="connectHeader" class="connect-header" style="display: none">
                Conectar a un cliente
            </h2>
        </div>
        <div id="connectBox" class="center-connection-box" style="display: none">
            <form id="connectForm">
                <div class="form-block">
                    <label class="input-label">Su nombre (se muestra al cliente)</label>
                    <input id="nameInput" type="text" required value="@Model.UserDisplayName" />
                </div>
                <div class="form-block">
                    <label class="input-label">ID de sesión</label>
                    <input id="sessionIDInput" required type="text" pattern="[0-9 ]+" />
                </div>
                <div>
                    <button id="connectButton" disabled>
                        Conectar
                    </button>
                </div>

            </form>
        </div>

        <div id="statusMessage" class="status-message">
        </div>

    </div>

    <div id="workAreaGrid" style="display: none;">
        <div>
            <div id="menuFrame">
                <div class="menu-column menu-column-left">

                </div>
                <div class="menu-column menu-column-middle">
                    <button id="changeScreenButton"
                            title="Cambiar de monitor en equipos remotos con varios monitores.">
                        <i class="fas fa-desktop"></i>
                        Monitores
                    </button>

                    <button id="viewOnlyButton"
                            title="Si se activa, impide enviar comandos y entradas al equipo remoto.">
                        <i class="fas fa-eye"></i>
                        Solo ver
                    </button>

                    <button id="clipboardTransferButton"
                            title="Escribir el texto actual del portapapeles en el equipo remoto.">
                        <i class="fas fa-clipboard"></i>
                        Portapapeles
                    </button>

                    <button id="blockInputButton"
                            title="Impedir que el usuario remoto use el teclado y el mouse.">
                        <i class="fas fa-mouse"></i>
                        Bloquear entrada remota
                    </button>

                    <button id="ctrlAltDelButton"
                            title="Simular el comando Ctrl+Alt+Supr en el equipo remoto. Debe ejecutarse como SYSTEM."
                            class="d-none">
                        <i class="fas fa-sign-in-alt"></i>
                        Ctrl+Alt+Del
                    </button>
                </div>

                <div class="menu-column menu-column-right">
                    <button id="disconnectButton"
                            title="Desconectar de la sesión actual.">
                        x
                    </button>

                    <button id="extrasMenuButton">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>

                    <button id="windowsSessionMenuButton">
                        <i class="fa-brands fa-windows"></i>
                    </button>

                    <button id="fullScreenButton" title="Entrar en modo de pantalla completa.">
                        <i class="fas fa-window-maximize"></i>
                    </button>

                    <button id="fitToScreenButton"
                            class="toggled"
                            title="Si se activa, ajustará la imagen al tamaño de la ventana.">
                        <i class="fas fa-expand"></i>
                    </button>
                </div>
            </div>

            <div class="text-center">
                <button id="menuButton">
                    <i class="fas fa-chevron-down"></i>
                </button>

                <button
                    id="keyboardButton"
                    title="Invocar el teclado táctil móvil."
                    class="d-none">
                    <i class="fas fa-keyboard align-middle"></i>
                </button>

            </div>
        </div>
        <div>
            <div id="screenViewerWrapper">
                <canvas id="screenViewer" class="fit"></canvas>
                <input id="fileTransferInput" hidden="hidden" type="file" multiple />
                <input id="touchKeyboardInput" type="text" autocomplete="off" autocapitalize="off"  />
            </div>
        </div>

    </div>

    <div id="toastsWrapper">
    </div>


    <div id="fileTransferDiv" hidden="hidden">
        <span id="fileTransferNameSpan" class="me-1 font-weight-bold" style="vertical-align: middle;"></span>
        <progress id="fileTransferProgress"></progress>
    </div>

    <footer>
        <div class="copyright-text">
            &copy; @(DateTime.Now.Year) - Immense Networks
        </div>
    </footer>

    <script src="/src/App.js" type="module"></script>
    <script>
        window.addEventListener("load", () => {
            ViewerApp.Init();
        })
    </script>
</body>
</html>
