@page "/api-keys"
@using Pronetsys.Shared.Helpers;
@using Pronetsys.Shared.Entities;
@attribute [Authorize(Policy = PolicyNames.OrganizationAdminRequired)]
@inherits AuthComponentBase

@inject IDataService DataService
@inject AuthenticationStateProvider AuthProvider
@inject IJsInterop JsInterop
@inject IModalService ModalService
@inject IToastService ToastService


<h3>Claves API</h3>

@if (!string.IsNullOrWhiteSpace(_alertMessage))
{
    <AlertBanner Message="@_alertMessage" />
}

@if (_isLoading)
{
    <h5>Cargando...</h5>
}
else if (User is not null)
{
    if (!string.IsNullOrWhiteSpace(_newKeySecret))
    {
        <h5 class="text-warning font-weight-bold mb-2 mt-4">Advertencia: El secreto de la clave solo se mostrará una vez. Guárdalo ahora.</h5>
        <h5 class="mb-4">
            <label class="me-1">Secreto de la clave:</label>
            <input class="form-control custom-control-inline" readonly value="@_newKeySecret" style="width:400px" />
        </h5>
    }


    <div class="mb-2 mt-4">
        <label class="me-1">Nombre del nuevo token:</label>
        <input @bind="_createKeyName" @bind:event="oninput"
               class="form-control form-control-sm custom-control-inline me-1 d-inline-block"
               style="width:200px" />

        <button class="btn btn-primary" type="button" @onclick="CreateNewKey">Crear</button>

        <button class="btn btn-sm btn-secondary ms-2" @onclick="ShowApiKeyHelp">
            <span class="oi oi-question-mark"></span>
        </button>
    </div>

    <table class="table table-dark table-hover table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>ID</th>
                <th>Último uso</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apiToken in _apiTokens)
            {
                <tr @key="apiToken.ID">
                    <td>@apiToken.Name</td>
                    <td>@apiToken.ID</td>
                    <td>@apiToken.LastUsed</td>
                    <td>
                        <button type="button" class="btn btn-primary" @onclick="() => RenameKey(apiToken.ID)">Renombrar</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-danger" @onclick="() => DeleteKey(apiToken.ID)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly List<ApiToken> _apiTokens = new();
    private string _alertMessage = string.Empty;
    private string _createKeyName = string.Empty;
    private string _newKeySecret = string.Empty;
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        RefreshData();
        _isLoading = false;
    }

    private async Task CreateNewKey()
    {
        EnsureUserSet();

        var secret = RandomGenerator.GenerateString(48);
        var secretHash = new PasswordHasher<string>().HashPassword(string.Empty, secret);

        var result = await DataService.CreateApiToken(UserName, _createKeyName, secretHash);
        if (!result.IsSuccess)
        {
            ToastService.ShowToast2(result.Reason, ToastType.Error);
            return;
        }
        RefreshData();
        _alertMessage = "Clave creada.";
        _newKeySecret = secret;
    }

    private async Task DeleteKey(string keyId)
    {
        EnsureUserSet();

        var result = await JsInterop.Confirm("¿Estás seguro de que deseas eliminar esta clave?");
        if (!result)
        {
            return;
        }

        var deleteResult = await DataService.DeleteApiToken(UserName, keyId);
        if (!deleteResult.IsSuccess)
        {
            ToastService.ShowToast2(deleteResult.Reason, ToastType.Error);
            return;
        }
        RefreshData();
        _alertMessage = "Clave eliminada.";
    }

    private void RefreshData()
    {
        EnsureUserSet();
        _apiTokens.Clear();
        _apiTokens.AddRange(DataService.GetAllApiTokens(User.Id));
        _createKeyName = string.Empty;
        _alertMessage = string.Empty;
        _newKeySecret = string.Empty;
    }


    private async Task RenameKey(string keyId)
    {
        EnsureUserSet();
        var newName = await JsInterop.Prompt("Nuevo nombre de la clave");
        if (!string.IsNullOrWhiteSpace(newName))
        {
            await DataService.RenameApiToken(UserName, keyId, newName);
            RefreshData();
            _alertMessage = "Clave renombrada.";
        }
    }

    private void ShowApiKeyHelp()
    {
        ModalService.ShowModal("Uso de claves API", new[]
        {
            "Las claves API deben agregarse al encabezado de la solicitud al realizar llamadas a la API. La clave debe ser \"X-Api-Key\", y el valor debe ser \"{key-id}:{key-secret}\". Ten en cuenta los dos puntos entre ambos.",
            "Ejemplo: X-Api-Key=e5da1c09-e851-4bd4-a8c1-532144b3f894:7uY6h5zBYm4+90pZVek4lD6ewbQ83nKcDpghBfG00hhZu6Ew"
        });
    }
}
