@page "/device-details/{deviceId?}/{activeTab?}"

@attribute [Authorize]
@inherits AuthComponentBase


@if (string.IsNullOrWhiteSpace(DeviceId))
{
    <div class="row mt-5">
        <div class="col-md-8 col-lg-6">

            <h3>ID del dispositivo:</h3>
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Ingresa un ID de dispositivo para ver sus detalles"
                       @bind="_inputDeviceId"
                       @bind:event="oninput"
                       @onkeydown="EvaluateDeviceIdInputKeyDown">
                <div class="input-group-append">
                    <button class="btn btn-primary" @onclick="NavigateToDeviceId">Ir</button>
                </div>
            </div>
            <div class="text-muted">
                También puedes ir directamente a los detalles de un dispositivo:
                <ul>
                    <li>Haciendo clic derecho en una tarjeta de dispositivo en la página principal mientras está contraída</li>
                    <li>Haciendo clic en el botón "Abrir en nueva pestaña" en el encabezado de una tarjeta de dispositivo mientras está expandida</li>
                </ul>
            </div>
        </div>
    </div>
}
else if (_isLoading)
{
    <h5>Cargando...</h5>
}
else if (_device is null)
{
    <h3>Dispositivo no encontrado.</h3>
}
else if (!_userHasAccess)
{
    <h3>No autorizado.</h3>
}
else
{
    <TabControl InitialActiveTab="@(ActiveTab ?? "device")">
        <TabHeaders>
            <TabHeader Name="device" NavigationUri="@($"/device-details/{DeviceId}/device")">
                Detalles
            </TabHeader>
            <TabHeader Name="remote-logs" OnActivated="GetRemoteLogs" NavigationUri="@($"/device-details/{DeviceId}/remote-logs")">
                Registros remotos
            </TabHeader>
            <TabHeader Name="script-history" OnActivated="GetScriptHistory" NavigationUri="@($"/device-details/{DeviceId}/script-history")">
                Historial de scripts
            </TabHeader>
        </TabHeaders>

        <TabContents>
            <TabContent Name="device">
                <div class="col-sm-8 mb-2">
                    <h3 class="mb-3 mt-3">
                        Detalles del dispositivo
                    </h3>

                    <EditForm Model="_device" OnValidSubmit="HandleValidSubmit" @onkeydown="EditFormKeyDown">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        @if (!string.IsNullOrWhiteSpace(_alertMessage))
                        {
                            <AlertBanner Message="@_alertMessage" />
                        }


                        <div class="form-group row">
                            <label for="device-name" class="col-sm-2 col-form-label">Dispositivo:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="device-name" readonly value="@_device.DeviceName" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="device-id" class="col-sm-2 col-form-label">ID del dispositivo:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="device-id" readonly value="@_device.ID" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="agent-version" class="col-sm-2 col-form-label">Versión del agente:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="agent-version" readonly value="@_device.AgentVersion" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="agent-platform" class="col-sm-2 col-form-label">Plataforma:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="agent-platform" readonly value="@_device.Platform" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="agent-os-description" class="col-sm-2 col-form-label">Plataforma:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="agent-os-description" readonly value="@_device.OSDescription" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="agent-storage-percent" class="col-sm-2 col-form-label">
                                Disco:
                                <button type="button" class="btn btn-link p-0 m-0" @onclick="ShowAllDisks" style="font-size: 50%">
                                    (Ver todos)
                                </button>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="agent-storage-percent" readonly value="@(MathHelper.GetFormattedPercent(_device.UsedStoragePercent))" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="agent-storage-total" class="col-sm-2 col-form-label">
                                Almacenamiento total:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="agent-storage-total" readonly value="@(_device.TotalStorage)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="agent-memory-percent" class="col-sm-2 col-form-label">
                                Memoria:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="agent-memory-percent" readonly value="@(MathHelper.GetFormattedPercent(_device.UsedMemoryPercent))" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="agent-memory-total" class="col-sm-2 col-form-label">
                                Memoria total:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="agent-memory-total" readonly value="@(_device.TotalMemory)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="agent-memory-total" class="col-sm-2 col-form-label">
                                IP pública:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="agent-memory-total" readonly value="@(_device.PublicIP)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="agent-memory-total" class="col-sm-2 col-form-label">
                                Direcciones MAC:
                            </label>
                            <div class="col-sm-10">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    name="agent-memory-total" 
                                    readonly
                                       value="@(string.Join(", ", _device.MacAddresses ?? Array.Empty<string>()))" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="device-alias" class="col-sm-2 col-form-label">Alias del dispositivo:</label>
                            <div class="col-sm-10">
                                <InputText class="form-control" @bind-Value="@_device.Alias" />
                                <ValidationMessage For="() => _device.Alias" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="device-groups" class="col-sm-2 col-form-label">Grupo de dispositivos:</label>
                            <div class="col-sm-10">
                                <InputSelect @bind-Value="_device.DeviceGroupID" class="form-control">
                                    <option value="">Ninguno</option>

                                    @foreach (var group in _deviceGroups)
                                    {
                                        <option @key="group.ID" value="@group.ID">@group.Name</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="() => _device.DeviceGroupID" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tags" class="col-sm-2 col-form-label">Etiquetas:</label>
                            <div class="col-sm-10">
                                <InputText @bind-Value="_device.Tags" class="form-control" />
                                <ValidationMessage For="() => _device.Tags" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="notes" class="col-sm-2 col-form-label">Notas:</label>
                            <div class="col-sm-10">
                                <InputTextArea @bind-Value="_device.Notes" style="width:100%; height: 10em;"></InputTextArea>
                                <ValidationMessage For="() => _device.Notes" />
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </EditForm>
                </div>
            </TabContent>

            <TabContent Name="remote-logs">
                <div class="py-3">
                    @if (!_device.IsOnline)
                    {
                        <h5 class="text-center mt-5">El dispositivo debe estar en línea para obtener los registros.</h5>
                    }
                    else
                    {
                        <div class="mb-2">
                            <button class="btn btn-primary me-2" @onclick="GetRemoteLogs">Actualizar</button>
                            <button class="btn btn-danger" @onclick="DeleteLogs">Eliminar registros</button>
                        </div>

                        @if (_logLines.Any())
                        {
                            <div style="white-space: pre;">
                                @foreach (var line in _logLines)
                                {
                                    @line
                                }
                            </div>
                        }
                        else
                        {
                            <LoadingSignal />
                        }
                    }

                </div>

            </TabContent>

            <TabContent Name="script-history">

                <h3 class="mb-3 mt-3">
                    Historial de scripts
                </h3>
                <table class="table table-dark table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Shell</th>
                            <th>Marca de tiempo</th>
                            <th>Usuario</th>
                            <th>Duración</th>
                            <th>Entrada</th>
                            <th>Salida</th>
                            <th>Error</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var scriptResult in _scriptResults)
                        {
                            <tr>
                                <td>@scriptResult.Shell</td>
                                <td>@scriptResult.TimeStamp</td>
                                <td>@scriptResult.SenderUserName</td>
                                <td>@scriptResult.RunTime</td>
                                <td>@GetTrimmedText(scriptResult.ScriptInput, 25)</td>
                                <td>@GetTrimmedText(scriptResult.StandardOutput, 25)</td>
                                <td>@GetTrimmedText(scriptResult.ErrorOutput, 25)</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" @onclick="() => ShowFullScriptOutput(scriptResult)">Ver completo</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </TabContent>
        </TabContents>
    </TabControl>
}
