@page "/manage-organization"
@attribute [Authorize(Policy = PolicyNames.OrganizationAdminRequired)]
@inherits AuthComponentBase

<h3 class="mb-3">Administrar organización</h3>

@if (_isLoading)
{
    <h5>Cargando...</h5>
}
else if (User is not null)
{
    <div class="row">
        <div class="col-sm-8">
            @* Organization ID *@
            <div class="form-group mw">
                <label class="mb-1">ID de la organización</label>
                <input readonly class="form-control" value="@_organization?.ID" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-8">
            @* Organization Name *@
            <div class="form-group mw">
                <label class="mb-1">Nombre de la organización</label>

                <div class="input-group">
                    <input @onchange="OrganizationNameChanged"
                           value="@_organization?.OrganizationName"
                           maxlength="25"
                           placeholder="Ingresa un nombre para tu organización"
                           class="form-control"
                           autocomplete="off" />
                </div>
                <div class="text-info small">
                    * Requiere actualizar el navegador.
                </div>
            </div>
            @if (User.IsServerAdmin)
            {
                <div class="form-group">
                    <label class="mb-1">Organización predeterminada del servidor</label>
                    <button class="btn btn-sm btn-secondary ms-2" @onclick="ShowDefaultOrgHelp">
                        <span class="oi oi-question-mark"></span>
                    </button>
                    <br />
                    <input type="checkbox" checked="@_organization?.IsDefaultOrganization" @onchange="DefaultOrgCheckChanged" />
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            @* Device Groups *@
            <div class="form-group">
                <label class="mb-1">Grupos de dispositivos</label>
                <button class="btn btn-sm btn-secondary ms-2" @onclick="ShowDeviceGroupHelp">
                    <span class="oi oi-question-mark"></span>
                </button>

                <select class="form-control mb-1" @bind="_selectedDeviceGroupId" size="4">
                    @foreach (var deviceGroup in _deviceGroups)
                    {
                        <option @key="deviceGroup.ID" value="@deviceGroup.ID">@deviceGroup.Name</option>
                    }
                </select>

                <div class="text-end mb-3">
                    <button type="button" class="btn btn-danger" @onclick="DeleteSelectedDeviceGroup">Eliminar</button>
                </div>

                <div class="input-group">
                    <input placeholder="Agregar nuevo grupo de dispositivos" class="form-control" maxlength="200"
                           @bind="_newDeviceGroupName"
                           @bind:event="oninput"
                           @onkeypress="EvaluateNewDeviceGroupKeyPress" />
                    <button type="submit" class="btn btn-secondary" @onclick="CreateNewDeviceGroup">Agregar</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @* Users *@
            <div class="form-group">
                <label class="control-label">Usuarios</label>
                <button class="btn btn-sm btn-secondary ms-2" @onclick="ShowUsersHelp">
                    <span class="oi oi-question-mark"></span>
                </button>
                <table class="table table-dark table-striped table-hover" style="max-height: 400px">
                    <thead>
                        <tr>
                            <th>Nombre de usuario</th>
                            <th>Administrador</th>
                            <th>Grupos de dispositivos</th>
                            <th>Restablecer contraseña</th>
                            <th>Eliminar usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var orgUser in _orgUsers)
                        {
                            <tr @key="orgUser.Id">
                                <td class="middle-aligned"><label class="control-label">@orgUser.UserName</label></td>
                                @if (User.Id == orgUser.Id)
                                {
                                    <td><input type="checkbox" readonly disabled checked="@orgUser.IsAdministrator" /></td>
                                    <td><button type="button" class="btn btn-secondary" title="Editar" @onclick="() => EditDeviceGroups(orgUser)">Editar</button></td>
                                    <td></td>
                                    <td><button type="button" class="btn btn-danger delete-user-button" disabled>Eliminar</button></td>
                                }
                                else
                                {
                                    <td><input type="checkbox" @onchange="(ev) => SetUserIsAdmin(ev, orgUser)" checked="@orgUser.IsAdministrator" /></td>
                                    <td><button type="button" class="btn btn-secondary" title="Editar" @onclick="() => EditDeviceGroups(orgUser)">Editar</button></td>
                                    <td><button type="button" class="btn btn-danger" title="Restablecer contraseña" @onclick="() => ResetPassword(orgUser)">Restablecer</button></td>
                                    <td><button type="button" class="btn btn-danger" title="Eliminar usuario" @onclick="() => DeleteUser(orgUser)">Eliminar</button></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @* Invitations *@
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">Invitaciones</label>
                <button class="btn btn-sm btn-secondary ms-2" @onclick="ShowInvitesHelp">
                    <span class="oi oi-question-mark"></span>
                </button>
                <table id="invitesTable" class="table table-dark table-striped table-hover" style="max-height: 400px">
                    <thead>
                        <tr>
                            <th>Usuario invitado</th>
                            <th>Administrador</th>
                            <th>Enlace(s)</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var invite in _invites)
                        {
                            <tr @key="invite.ID">
                                <td class="middle-aligned"><label class="control-label">@invite.InvitedUser</label></td>
                                <td class="middle-aligned"><input type="checkbox" checked="@invite.IsAdmin" disabled /></td>
                                <td class="middle-aligned">
                                    <label class="control-label">
                                        <a href="@(NavManager.BaseUri)Invite/@invite.ID">Enlace para unirse</a>
                                    </label>
                                </td>
                                <td><button type="button" class="btn btn-danger" invite="@invite.ID" @onclick="() => DeleteInvite(invite)">Eliminar</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @* Send Invites *@
    <div class="row">
        <div class="col-sm-8">
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Agregar usuario</label>
                <div class="input-group">
                    <input @bind="_inviteEmail" @bind:event="oninput"
                           placeholder="Correo electrónico del usuario a agregar"
                           type="email"
                           required
                           class="form-control" />

                    <span class="input-group-text pe-1">¿Administrador?</span>
                    <div class="input-group-text ps-1">
                        <input @bind="_inviteAsAdmin" type="checkbox" @onkeypress="EvaluateInviteInputKeypress" />
                    </div>
                    <button type="button" class="btn btn-primary" @onclick="SendInvite">Agregar</button>
                </div>
            </div>
        </div>
    </div>

}